<%- include('../partials/header') %>

<form action="/flights" method="POST">
    <label for="airline">Airline: </label>
    <select name="airline" id="airline">
        <option value="BA">British Airways</option>
        <option value="American">American</option>
        <option value="United">United</option>
    </select>
    <label for="airport">Airport: </label>
    <select name="airport" id="airport">
        <option value="LHR">LHR</option>
        <option value="LAX">LAX</option>
        <option value="YYC">YYC</option>
    </select>
    <label for="flightNo">Flight Number:</label>
    <input type="number" name="flightNo" id="flightNo" min="10" max="9999" required>
    <label for="departs">Departs: </label>
    <input type="date" name="departs" id="departs">

    <button type="submit">Save</button>
</form>

<%- include('../partials/footer') %>